#displays {
  position: relative;
}
.display {
  position: absolute;
  display: flex;
  border: 1px #ccc solid;
  align-items: center;
  justify-content: center;
}

.display .dimensions {
  padding: 5px;
  background-color: rgba(255,255,255,0.7)
}

.display .transforms {
  position: absolute;
  bottom: 0; right: 0;
  margin-right: 10px;
}
